<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>

  <body class="bg-gradient-to-r from-green-300 to-green-100 flex items-center justify-center h-screen">
    <div class="bg-emerald-100 p-8 rounded-2xl shadow-md w-96">
      <h2 class="text-2xl font-bold text-center mb-6">Login</h2>

      <form method="POST">
        <input type="email" name="email" placeholder="Email" class="w-full p-2 border rounded mb-4" required />

        <div class="relative mb-4">
          <input type="password" id="login_password" name="password" placeholder="Password" class="w-full p-2 border rounded pr-10" required />

          <span onclick="togglePassword()" class="absolute right-3 top-2.5 cursor-pointer text-gray-600 material-icons" id="login_toggleIcon">visibility_off</span>
        </div>

        <button type="submit" class="w-full bg-green-500 text-white p-2 rounded hover:bg-green-600">Login</button>
      </form>

      <p class="text-sm text-center mt-4">
        Don’t have an account?
        <a href="{{ url_for('register') }}" class="text-green-500 hover:underline">Register</a>
      </p>
    </div>
  </body>

  <script>
    function togglePassword() {
      const password = document.getElementById('login_password')
      const icon = document.getElementById('login_toggleIcon')
    
      if (password.type == 'password') {
        password.type = 'text'
        icon.textContent = 'visibility'
      } else {
        password.type = 'password'
        icon.textContent = 'visibility_off'
      }
    }
  </script>
</html>
